{% extends "main.html" %}
{% block body %}
{% load static %}

<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/IMG__.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Güçlü Hayaller, Güçlü Tasarımlar </span>
              <span class="section-heading-lower h2">Ferhat İle tanışın ;</span>
            </h2>
            <p>Web Tasarım alanında 2 yıldan fazla deneyime sahip bir tasarımcıyım. Amacım; profesyonel ve özgün
              websiteleri oluşturup, tamamıyla göze hitap etmesini sağlayarak , PostgreSQL veri tabanı ile ileri
              seviyede güvenli ayrıca kullanıcı dostu projeler yapmak. Web tasarımında, çağa ve teknolojiye uygun Mobil
              Uyumlu, kurumsal web siteler oluşturuyorum. </p>
            <p>İstanbul Teknik Üniversitesinde Metalurji ve Malzeme Mühendisliği okuyorum. Okuduğum bölümde ileri seviye
              yazılım derslerinin olmasının yanı sıra kendim farklı kaynaklardan birçok kurs alarak kendimi web tasarımı
              konusunda ileri seviyelere taşıdım.</p>
            <p class="mb-0">Sizlerin hayal ettiği websitelerini ustaca yöntemler ve programlarla gerçeğe çevirerek web
              yazılımını sizleri memnun eden fiyatlara sunuyorum. Misyonum özgünlük ve profesyonelliği en üst düzeyde
              korurken hayalinizdeki sitenizi mümkün olan düşük maliyete oluşturmaktır.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock body %}