{% extends "main.html" %}
{% load static %}




{% block body %}

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower pl-4 pr-4">Tasarım &amp; Seo Uygulaması</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/2.PNG' %}" alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <span class="section-heading-lower">WEB TASARIM HİZMETİNİN DETAYLARI </span>
          <p> - Anahtar Teslimi.</p>
          <p> - Tüm Platformlarda Görüntülenebilir Mobil Uyumlu Responsive Tasarım.</p>
          <p> - Size Özgün Tasarım.(Tüm tasarım sıfırdan yazılacaktır)</p>
          <p>- Sosyal medya hesaplarına sahip olmayanlar için istenilen hesapların oluşturulması</p>
          <p>- 7/24 Ücretsiz Destek</p>
          <p>- Yoksa logo oluşturulması</p>
          <p>- Seo uygulaması</p>
          <p>- İçeriklerin seo uygun şekilde düzenlenmesi</p>
          <p class="mb-0">- Django admin.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower pl-2 pr-3">Süreç &amp; İLETİŞİM</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/telefon.jpg' %}"
        alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <span class="section-heading-lower">WEB TASARIMI SÜRECİ NASIL İŞLİYOR?</span>
          <p>-Projeniz için bizimle iletişime geçtiğinizde siparişiniz oluşturulur.
          </p>
          <p> - İsteğinize uygun örnek bir anasayfa tasarımı size sunulur. Kontrol edip geri bildirimde bulunabilmeniz
            için size gönderilir.</p>
          <p>- Örnek çalışmayı beğenmeniz ve onaylamanız durumunda sistemin alt yapısı tasarlanmaya başlanır ve gerekli
            geliştirmeler yapılır.</p>
          <p>- Sitenin tasarlanma aşamasında sürekli iletişim halinde kalınacak olup isteğinize uygun değişiklikler
            yapılacaktır.</p>
          <p>- Sitenizin son halini onaylamanız durumunda gerekli tüm düzenlemeler yapılıp siteniz yayına alınacaktır.
          </p>
          <p>- Birlikte çalışmaya karar verdikten sonra proje ücretinin bir kısmı talep edilir. Projenizin teslimi
            yapıldıktan sonra ödemenin kalan kısmı yapılır.</p>
          <p>- Ödeminizi yapmanız durumunda işlemleriniz bitmiş demektir.</p>
          <p>- Bir aylık hosting ve istediğiniz alan adı ile (.com .online .txt …..) site size teslim edilecektir.</p>
          <p class="mb-0">- Siteniz tamamlanıp size teslim edildikten sonra da herhangi bir ihtiyacınızda size destek
            verilecektir.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Üst SEVİYE Yazılımlar</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/python2.jpg' %}"
        alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <span class="section-heading-lower">NEDEN DJANGO</span>
          <p>Django son zamanlarda çok popülerlik kazanan PYTHON fremeworküdür. İsmi, caz gitaristi Django Reinhardt’tan
            gelmektedir.</p>
          <p>Django da ayrıca her projeye ait temel kayıt ekleme, silme, düzenleme ve güncelleme fonksiyonlarını
            bünyesinde barındıran dinamik bir yönetim paneli sağlar. Karmaşık admin panellerinden kurtulmak isteyenler
            için rahat kullanışlı bir web çatısıdır.</p>
          <p>Django’yu kullanan ünlü web sitelerini aşağıda gibidir:</p>
          <ul class="mb-0">
            <li>Instagram</li>
            <li>Mozilla</li>
            <li>Open Stack</li>
            <li>National Geographic</li>
            <li>Knight Foundation</li>
            <li>Open Knowledge Foundation</li>
            <li>Pinterest</li>
            <li>MacArthur Foundation</li>
            <li> Disqus</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}